 
      #header {
        width: 80%;
        margin: auto;
        padding: 40px;
        /* border: 1px solid red; */
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
      #h1tag {
        font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,
          "Lucida Grande", sans-serif;
        color: #212432;
        font-size: 40px;
        font-weight: 400;
        margin-left: -4px;
      }
      #control {
        display: flex;
        justify-content: space-between;
        /* border: 1px solid red; */
      }
      #control2 {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        /* border: 1px solid red; */
      }
      #btn {
        background: #4296cb;
        border-color: transparent;
        color: #fff;
        text-transform: uppercase;

        padding: 12px 28px 10px;
        cursor: pointer;
        text-align: center;
        font-size: 14px;
        border-radius: 8px;
        height: 50px;
      }
      #img {
        margin-top: 10px;
        width: 35px;
        height: 35px;
        cursor: pointer;
      }
      #sort {
        color: #7b7f92;
        display: block;
        margin: 0px;
        line-height: 1em;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        margin-top: 20px;
        letter-spacing: 0.05em;
        margin-right: -45px;
      }
      #form {
        /* border: 1px solid red; */
        margin-top: 10px;
        padding: 0.4rem 1.2rem 0.4rem 0.4rem;
        line-height: 1.1em;
        font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,
          "Lucida Grande", sans-serif;
        border: none;
        color: black;
      }
      #topic {
        display: inline-block;
        height: 7px;
        width: 8px;
        padding: 0px;
        color: #4296cb;
        font-size: 7px;
      }

      .dropbtn {
         margin: 50%;
        border: none;
        cursor: pointer;

      }

      .dropbtn:hover,
      .dropbtn:focus {
        background-color: #2980b9;
      }

      .dropdown-content {
        display: none;
        border: 2.5px solid #2980b9;;
        position: absolute;
        background-color:white;
        min-width: 160px;
        overflow: auto;
        font-family: "Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        margin-top: 30px;
         
      }

      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: "Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      }

      .dropdown a:hover {
        background-color: #ddd;
      }

      .show {
        display: block;
      }
      .dropdown-content{
        padding: 20px;
      }
      #mid{
        /* border: 1px solid red; */
        display: flex;
        
        color: #7b7f92;
    font-size: 11px;
    margin: 0px;
    letter-spacing: 0.042em;
    font-weight: 500;
   width: 80%;
   margin: auto;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   margin-top: 20px;
      }
      #discussion{
        margin-right: 500px;
        margin-left: 10px;
      }
      #postedin{
        margin-right: 340px;
      }
      #replies{
        margin-right: 80px;
      }
      #last{
        width: 80%;
   margin: auto;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   margin-top: 20px;
   font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,
          "Lucida Grande", sans-serif;
        color: #212432;
       
      }
      #container img{
        /* border: 1px solid red; */
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin-top:10px;
      }
      #div1{
        /* border: 1px solid red; */
        display: flex;
        width: 95%;
        margin: auto;
        font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,
          "Lucida Grande", sans-serif;
       
      }
      #div1>div{
        margin-left: 35px;
        font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,
          "Lucida Grande", sans-serif;
          /* color: #7b7f92; */
          font-size: 13px;
          
      }
      #title{
        font-family: "Maison Neue", "Helvetica Neue", Helvetica, Arial,
          "Lucida Grande", sans-serif;
        color: #212432;
          
      }
      #div3{
        /* border: 1px solid red; */
        margin-left: 25px;
       margin-top: 55px;
       color: #4296cb;
    font-weight: 400;
    text-decoration: none;
    font-family: "Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        
        
      }
      #last{
        display: flex;
        /* border: 1px solid red; */
      }
      #div4{
        margin-left: 125px;
       margin-top: 60px;
       color: #4296cb;
    font-weight: 400;
    text-decoration: none;
    font-family: "Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      }
       #last{
        margin-bottom: 50px;
       }
    

    