*{
    margin: 0%;
    padding: 0%;
}
body{
    
    /* font-family: "Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; */
    font-family: "Maison Neue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}


.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#Expert_articals{
    width:100%;
    padding:6rem 3rem 0rem 3rem;
    /* margin-bottom: 20px; */
    border-bottom:1px solid #e3ebee;
}
#title h1{
    width: 90%;
    margin: auto;
    font-size: 5rem;
    padding: 20px;
    

}
#hp{
    width:90%;
    margin: auto;
    color: gray;
    margin-bottom: 20px;
}

/* #search_bar{
    width:100%;
    height: 70px;
    display: flex;
    border:2px solid red;
}
#search_bar div{
    width: 90%;
    margin: auto;
    border-left: 1px solid #e3ebee;
} */

#search_bar{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    /* height: 70px; */
    padding-left: 70px;
    border-bottom:1px solid #e3ebee;
    border-top:1px solid #e3ebee;
}
/* .dropdown{
    width:90%;
    margin: auto;
} */
.dropdown button{
    padding:10px;
    border:0px;
    background-color: white;
    border-left: 1px solid #e3ebee;
    color: #7b7f92;
    font-size: x-large;
}
#search_items{
    border-right:1px solid #e3ebee;
}
.sub-menu1{
    display: none;
    /* border: 2px solid red; */
}
.sub-menu1:hover{
    display: block;
    border:2px solid red
}
#marres{
    padding: 12px;
}
#sort_bar_flex{
    width:90%;
    margin:auto;
    display: flex;
    flex-direction: row;
    gap: 20px;

}
#sort_ele{
    border: 0px;
}
#sort_bar,#content_container{
    background: #f0f4f6;
    padding-bottom: 20px;
}
#content_block{

    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;

}

#gift{
    background-image: url(https://cloudfront.fitnessblender.com/assets/img/custom-cards/orange.png);
    text-align: center;
   color: white;
   border: 2px solid white;
}
#valign{
    padding-top: 40%;
}
#fb{
    opacity: 0.6;
}
.sub-head{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom:2px solid white;
}
.csf{
    font-size: 5.9rem;
}
.sub-head{
    font-size: 3rem;
}
#eavail{
    padding-top: 50px;
}
.content_item{
    background-color: #fff;
    border:4px solid white;
    /* margin-top: 20px;    */
}
#content_prop{
    /* padding-top: 15px; */
    padding: 13px;
    /* padding-left: 15px; */
    /* border: 2px solid red; */
}
#ble{
    color: #4296cb;
}
#para{
    font-size: 16px;
    color: gray;
}
#content_prop p{
    font-size: 14px;
    height: auto;
    /* line-height: -10px; */
    border: 2px solid blue;
}
.content_item:hover,#gift:hover{
    border:4px solid #4296cb;
    transition:border 1s;
    cursor: pointer;
}
#btm{
    /* position: absolute; */
    display: flex;

    /* flex-direction:row ; */
    /* justify-items: center; */
    justify-content: space-between;
}
#btm button{
    background-color: #4296cb;
}
#price{
    padding-top:20px;
}
#btn{
    background-color: #4296cb;
    border-radius: 4px;
    padding: 8px;
    color: white;
    /* position: relative; */
    
}