h1{
    font-size: 45px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
}
#main{
    display: flex;
    width: 35%;
    justify-content: space-between;
    height: 40px;
    margin: auto;
    margin-bottom: 25px;
}
#main>a{
    text-decoration: none;
}
#one{
    display: flex;
    width: 255px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    background-color:#3f66b6;
    border-radius: 3px;
    color: white;
    cursor: pointer;

}
#one>p:nth-child(1){
    font-weight:bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#one>p:nth-child(2){
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
#two{
    display: flex;
    width: 255px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    background-color: #db4a3c;
    color: white;
    cursor: pointer;

}
#two>p:nth-child(2){
    padding-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    
}
#two>p:nth-child(1){
    font-weight:bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#second{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width:45%;
    margin: auto;
    font-size: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
#second>div{
    border:0.5px solid lightgrey;
    height: 0px;
    width:45%;
    background-color:lightgrey;
}
#main2{
    display: flex;
    width: 40%;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
    height: 310px;
}
#left{
    width: 46%;
    /* border: 2px solid blue; */
}
#right{
    width: 46%;
    margin-top: 11px;
    /* border: 2px solid green; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#form>input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 3px;
    border:1px solid gainsboro;
}

#right>h4{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}
.tick{
    display: flex;
    margin-top: -8px;
}
.tick>img{
    width:17px;
    height: 17px;
    margin: 0px 15px 0px 20px;
    margin-top: 13px;
}
.tick>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #969aa8
}
#captcha{
    width: 10%;
    margin-left: 447px;
    margin-top: 20px;
}
#policy{
    margin-left: 446px;
    display: flex;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17.5px;
    color: #969aa8
    
}
#policy>p>a{
    text-decoration: none;
    color:#80a0cc;
}
#checkbox{
    height: 20px;
    width: 20px;
    margin-top: 16px;
    margin-right: 10px;
}
#policy>p>a:hover{
text-decoration: underline;

}
button{
    width:280px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: #4296cb;
    border: 0px;
    margin-left: 41%;
    margin-top: 30px;
    cursor: pointer;
    color: white;
    font-weight: bold;

}
#already{
    text-align: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #969aa8;
    margin-bottom: 50px;
}
#already>a{
    text-decoration: none;
    color:#80a0cc;
}
#already>a:hover{
    text-decoration: underline;
}
